body {
    background-color:   lightgreen;
  }
  .start_view {
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 4px black;
  }
  .quiz_view {
    display: none;
  }
  
  .quiz_view {
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 4px black;
  }

  .choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .choice {
    font-size: 15px;
    display: block;
    margin: 5px 5px;
    padding: .5em .75em;
    background-color: Blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .choice:hover {
    background-color: darkblue;
  }